/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&family=Ubuntu:wght@500&display=swap');

/* Headings */
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

/* Parts */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
  width:fit-content;
  border-radius: 20px;
  color: #9225ff;
  background-color: #0adf71;
}

nav {
  font-weight: bold;
}


body {
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border-width: 0.1px;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
}

input.submit {
  width: fit-content;
  border-radius: 5px;
  padding: 10px 25px;
  border-width: 0.1px;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff; 
  background-color: #000000;
}

label {
  padding: 20px 5px 5px 5px;
}

button {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border-width: 0.1px;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  color: #0adf71;
  background-color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: #9225ff;
}

a {
  color: #0adf71;
  text-decoration: none;
}
a:hover {
  color: #9225ff;
}

/* divs */

.App {
  display: flex;
  flex-direction: column;
  /* padding: 20px 10px; */
  /* height: 200px; */
  border: 0px;
  text-align: center;
  font-family: 'Sora', sans-serif;
}

textarea.textBox {
  width: 80%;
  height: 190px;
  padding: 10px;
  border-radius: 10px;
  border-width: 0.1px;
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'Sora', sans-serif;
  
}

div.react-date-picker__wrapper,
div.react-time-picker__wrapper {
  width: 190px;
  padding: 1px;
  border-radius: 10px;
  border-width: 0.1px; 
  font-family: 'Sora', sans-serif;
  font-size: 16px;

}

div.react-calendar {
  color: #9225ff;
}

.react-calendar__tile {
  color: #9225ff;
}

.react-calendar__navigation button {
  background-color: #9225ff;
  color: #0adf71; 
}

.react-calendar__navigation__prev2-button
.react-calendar__navigation__prev-button {
  background-color: #9225ff;
}

.circle {
  height: max-content;
  width: 205px;
  padding: 20px;
  border-radius: 50%;
  border-width: 1px;
  transform: scale(1);
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  color: #0adf71; 
  background-color: #fbf7ff;
  border-color: #9225ff;
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-direction: alternate;  
}

.circle:after{
  transform:rotate(-57deg);
}

.circle:before{
  transform:rotate(57deg);
}

@keyframes rotate{
  100%{
    transform:rotate(360deg);
  }
}